<p> Please enter the width, weight, and length of your package :) </p>
<form action="/packageCost" method="post">
     <label for="width">width</label>
     <input id="width" name="width" type="text">
     <label for="length">length</label>
     <input id="length" name="length" type="text">
      <label for="height">height</label>
     <input id="height" name="height" type="text">
     <button type="submit">Add Car</button>
    </form>